td, tr
{
    max-width: 100%;
    font-family: Verdana;
}

td input[type=submit], tr input[type=submit] {
    display: block;
    margin: 0 auto;
}

.well {
    margin-top: 5%;
    margin-left: 30%;
    max-width: 25vw;
    width: auto;
}

table {
    width: 100%;
    font-size: 100%;
    margin-top: 1vw;
}