.Content {
    margin-top: 1vw;
}

.LoginTable {
    border: 0;
    border-spacing: 5px;
    width: 100%;
    height: 100%;
    font-size: 100%;
    font-family: Verdana;
}

row {
    display: flex;
    -o-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
}