.ItemCard {
    background-color: lightgray;
    border: 5px solid lightgray;
    border-radius: 5px;
}

.ItemCardTitle {
    background-color: lightblue;
    width: 100%;
    text-align: center
}

.ItemCardImage {
    width: 95%;
    height: 95%;
    border: 5px solid darkgray;
    border-radius: 6px;
}

.ItemCardDesc {
    width: 95%;
    height: 95%;
    margin: auto;
}