.ItemCard {
    border: 2px solid black;
    border-radius: 15px;
    width: 60%;
    background-color: white;
    margin: auto;
}

.ItemCardTitle {
    background-color: lightblue;
    width: 100%;
    text-align: center
}

.ItemCardImage {
    width: 100%;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
}
