
.TabContentBackground {
    position: relative;
    bottom: 6px;
    background-color: #337ab7;
    border: 10px solid #337ab7;
    border-radius: 10px;
    border-top-left-radius: 0px;
    
}

.BackPlate {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #eee;
}

    .BackPlate h1,
    .BackPlate .h1 {
        color: inherit;
    }

    .BackPlate p {
        margin-bottom: 15px;
        font-size: 21px;
        font-weight: 200;
    }

    .BackPlate > hr {
        border-top-color: #d5d5d5;
    }

.container .BackPlate,
.container-fluid .BackPlate {
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 6px;
}

.BackPlate .container {
    max-width: 100%;
}

@media screen and (min-width: 768px) {
    .BackPlate {
        padding-top: 48px;
        padding-bottom: 48px;
    }

    .container .BackPlate,
    .container-fluid .BackPlate {
        padding-right: 60px;
        padding-left: 60px;
    }

    .BackPlate h1,
    .BackPlate .h1 {
        font-size: 63px;
    }
}

/* Description */
.DescTitle {
    color: white;
    position: relative;
    left: 10px;
}

.DescText {
    background-color: lightblue;
    border: 20px solid lightblue;
    border-top: 10px solid lightblue;
    border-radius: 10px;
}



/* Comments */
.CommentContainer {
    margin-left: 25px;
}

.CommentBox {
    background-color: lightblue;
    border-right: 10px solid lightblue;
    border-radius: 20px;
    border-top-left-radius: 0px;
    display: table;
    margin-bottom: 20px;
}

.WriteComment {
    display: block;
    width: 100%;
}

.CommentSubmitButton {
    margin-top: auto;
    width: 15%;
    height: 50%;
    float: right;
}

.CommentTextbox {
    position: relative;
    left: 20px;
    max-width: 80%;
    width: 80%;
    border-radius: 5px;
    height: 60px;
    border: 3px solid white;
    border-right: 1px solid white;
}

div.CommentBox > p {
    margin-left: 20px;
}

div.CommentBox > p.CommentText {
    position: relative;
    margin-left: 40px;
    bottom: 15px;

}

p.CommentUsername {
    font-size: large;
}

p.CommentText {
    font-size: medium;
    position: relative;
    margin-left: 40px;
    bottom: 15px;
}